<div class="cards" [ngStyle]="{'padding-top': paddingVal}" fxFlex fxLayout="column" fxLayoutGap="1rem">
  <h1>COVID-19 data of the Philippines as of {{lastUpdate}}.</h1>
  <div fxFlex fxLayout.md="column" fxLayout.lg="row">
    <div>
      <mat-card>
        <mat-card-header>
          <h1>Overview </h1>
          <mat-icon id="overview-icon">people_alt</mat-icon>
        </mat-card-header>
        <div class="card-content">
          <div class="overview-count">
            <h2 id="totalConfirmed-counter">0</h2>
            <p>Confirmed cases</p>
          </div>

          <div class="overview-count">
            <h2 id="active-counter">0</h2>
            <p>Active Cases</p>
          </div>

          <div class="overview-count">
            <h2 id="totalCritical-counter">0</h2>
            <p>Critical cases</p>
          </div>

          <div class="overview-count">
            <h2 id="dailyInfections-counter">0</h2>
            <p>Infected today</p>
          </div>
        </div>
      </mat-card>
    </div>

    <div fxFlex fxLayout.xs="column">
      <mat-card fxFlex>
        <mat-card-header>
          <h1>Recovered </h1>
          <mat-icon id="recovery-icon">person_add</mat-icon>
        </mat-card-header>
        <div class="card-content">
          <div class="overview-count">
            <h2 id="totalRecovered-counter">0</h2>
            <p>Total Recovered</p>
          </div>
          <div class="overview-count">
            <h2 id="rr-counter">0</h2>
            <p>Recovery rate</p>
          </div>
          <div class="overview-count">
            <h2 id="dailyRecovered-counter">0</h2>
            <p>Recovered today</p>
          </div>
        </div>
      </mat-card>

      <mat-card fxFlex>
        <mat-card-header>
          <h1>Deceased </h1>
          <mat-icon id="deceased-icon">person_remove</mat-icon>
        </mat-card-header>
        <div class="card-content">
          <div class="overview-count">
            <h2 id="totalDeceased-counter">0</h2>
            <p>Total Deceased</p>
          </div>
          <div class="overview-count">
            <h2 id="fr-counter">0</h2>
            <p>Fatality rate</p>
          </div>
          <div class="overview-count">
            <h2 id="dailyDeceased-counter">0</h2>
            <p>Deceased today</p>
          </div>
        </div>
      </mat-card>
    </div>
  </div>

  <!-- abc -->
  <div fxFlex fxLayout.xs="column" fxLayout.md="column" fxLayout.lg="row">
    <div fxFlex fxLayoutGap="1rem" fxLayout="column">
      <mat-card fxFlex>
        <mat-card-header>
          <p><b>Trending cases</b> for the last 14 days</p>
        </mat-card-header>
        <mat-progress-bar mode="query" [value]="chart.length" *ngIf="chart.length <= 0"></mat-progress-bar>
        <canvas id="canvas" *ngIf="chartProgressBar">{{chart}}</canvas>
      </mat-card>
      <mat-card fxFlex>
        <mat-card-header>
          <p><b>New cases</b> for the last 14 days</p>
        </mat-card-header>
        <mat-progress-bar mode="query" [value]="bar.length" *ngIf="bar.length <= 0"></mat-progress-bar>
        <canvas id="bar" *ngIf="barProgressBar">{{bar}}</canvas>
      </mat-card>
    </div>

    <mat-card fxFlex id="news-card">
      <div fxFlex fxLayout="column" fxLayoutWrap="wrap" id="news-content">
        <mat-card-header><strong>Latest News</strong></mat-card-header>
        <div *ngFor="let news of newsData">
          <mat-card fxFlex (click)="goToUrl(news.url)" id="news-content-card">
            <div id="img-div">
              <img mat-card-image src={{news.photoUrl}} alt="news photo">
            </div>
            <div id="content">
              <mat-card-title>{{news.title}}</mat-card-title>
              <mat-card-subtitle>{{news.siteName}} - {{news.publishedDaysAgo}}</mat-card-subtitle>
              <mat-card-content>{{news.description}}</mat-card-content>
            </div>
          </mat-card>
        </div>
      </div>
    </mat-card>

  </div>

</div>
