.card-content {
  display:flex;
  width:100%;
  gap:2rem;
  justify-content: center;
  align-content: center;
}

#count-container {
  display:flex;
  margin-left:2vw;
  margin-right:2vw;
}

.count-card {
  width:15%;
}

.count-title {
  font-size: .85em;
}

mat-card-footer {
  display:flex;
  justify-content: center;
  align-content: center;
}

mat-icon {
  font-size:1.5em;
  padding-left: .5vw;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

mat-card-header {
  position: relative;
  top: .25em;
  left: .25em;
}
h1 {
  padding:0;
  margin:0;
  padding-top:.25em;
  padding-left:.25em;
}
#overview-icon { color: yellow;}
#recovery-icon { color: green}
#deceased-icon { color: red}

h1 {
  font-size: 1em;
}

.cards {
  border: 1px solid black;
  border-radius: 8px;
  margin:1vw;
}

// news
#news-image {
  padding:1rem;
}

#img-div {
  float:left;
  padding-right: 5vh;
  margin-left: 2vh;
}

#content {
  width: 100%;
  position: relative;
  right: 1px;
}
#news-content-card {
  height: auto;
  cursor: pointer;
}

#news-card {
  padding:0;
  margin:0;
  height: 125vh;
}

#news-content {
  margin-top:3vh;
  width:100%;
  overflow-y: auto;
  overflow-x: hidden;
}

img {
  width: 100px;
  height: 100px;
  border-radius: 6px;
  float:left;
  object-fit: cover;
  padding-top: 2.5vh;
  padding-left: 2vw;
}

mat-card-content {
  padding-left: 10vw;
}

// graphs

canvas {
    height: 50vh !important;
    width: 100% !important;
  }


  #active {grid-area: active}
  #critical{grid-area: critical}
  #recovery {grid-area: recovery}
  #recovery-rate {grid-area: recovery-rate}
  #recovered-today{grid-area: recovered-today}
  #recovery {grid-area: recovery}
  #deceased {grid-area: deceased}
  #deceased-rate{grid-area: deceased-rate}
  #deceased-today {grid-area: deceased-today}

@media screen and (max-width: 1150px){
  #count-container {
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "active recovery recovery-rate recovered-today"
    "critical deceased deceased-rate deceased-today";
  }
  .count-card {
    width:75%;
    margin-top:1vh;
  }
}

@media screen and (max-width: 500px){
  #count-container {
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "recovery recovery-rate recovered-today"
    "deceased deceased-rate deceased-today"
    "active . critical";
  }
  .count-card {
    width:75%;
    margin-top:1vh;
  }
}


@media screen and (max-width: 350px){
  #count-container {
    display: grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "recovery recovered-today"
    "deceased deceased-today"
    "recovery-rate deceased-rate"
    "active critical";
  }
  .count-card {
    width:75%;
    margin-top:1vh;
  }
}

