<div class="container">
  <section>
    <h1>About this website</h1>
    <p>The goal for this personal website is to have an accessible way to understand the data. For suggestions and
      comments,
      kindly reach out to my email (jaseleodones@gmail.com)</p>
    <p>For transparency, here are the sources that I used for this project:</p>
    <ul>
      <li><a href="https://www.coronatracker.com/country/philippines/">CoronaTracker</a></li>

      <li>
        <a href="https://drive.google.com/drive/folders/10VkiUA8x7TS2jkibhSZK1gmWxFM-EoZP">DOH Data Drop</a>
      </li>
      <li>
        <a
          href="https://documenter.getpostman.com/view/10808728/SzS8rjbc?version=latest#81415d42-eb53-4a85-8484-42d2349debfe">Public
          COVID19 API</a>
      </li>
      <li>
        <a href="https://www.reddit.com/r/Coronavirus_PH/">r/Coronavirus_Ph</a>
      </li>
      <li><a href="https://www.cdc.gov/coronavirus/2019-ncov/about/index.html">Centers for Disease Control and
          Prevention</a></li>
      <li>
        <a href="https://www.who.int/">World Health Organization (WHO) Official Website</a>
      </li>
    </ul>
  </section>
  <section>
    <h1>Disclaimer</h1>
    <p>Although I am trying my best to have the most up to date and accurate data for statistics of COVID19, Kindly do
      not use this site as an official source. Discrepancies between the data in this website and from official
      accredited sources may occur due to bugs on my source code.</p>

    <p>If you're interested to check the Philippines' official website for tracking Coronavirus data, check the
      following:</p>
    <ul>
      <li><a href="https://covid19.gov.ph/">covid19.gov.ph</a></li>
      <li><a href="https://www.doh.gov.ph/covid19tracker">Department of Health's COVID19 tracker</a></li>
    </ul>
  </section>
</div>
