<mat-toolbar color="primary">
  <button mat-icon-button (click)="onToggleSidenav()" fxHide.gt-sm>
    <mat-icon>menu</mat-icon>
  </button>
  <button [routerLink]="['']" mat-button style="display: inline;">
    <h1>Coronavirus Tracker     <mat-icon>coronavirus</mat-icon></h1>

  </button>
  <div fxFlex fxLayout fxLayoutAlign="end">
    <div fxHide.lt-md>
      <a [routerLink]="['/causes']" mat-button>What is COVID-19?</a>
      <a [routerLink]="['/prevention']" mat-button>Prevention</a>
      <a [routerLink]="['/about']" mat-button>About</a>
    </div>
  </div>
</mat-toolbar>
